@use "../base/color" as *;

@mixin center-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button($color){
    height: 100%;
    background-color: $color;
    border: none;
    border-radius: 5px;
    color: #fff;
}

$breakpoint: 730px;

@mixin mobile {
    @media (max-width: #{$breakpoint - 1px}) {
        @content;
    }
}

@mixin desktop{
    @media (min-width: $breakpoint){
        @content;
    }
}

@mixin error{
    margin-top: 0.5rem;
    color: $red700;
    font-size: 0.8rem;
    font-weight: bold;
}