@use "../mixin/" as *;

#root{
    @include center-box;
    .App{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 730px;
        min-height: 100vh;
        padding: 45px 0;
    }
}